//colors

$white:#fff;
$black:#000;
$outer-background:#2b2a29;
$pitzob-red:#ed3237;
$body-background:#f9f9f9;
$anchor-color:#737375;

//background 

$base-spritesheet:'../images/spritesheet.png';

//font
$base-font:'Conv_Corbel';