//colors

$white:#fff;
$black:#000;
$outer-background:#2b2a29;
$pitzob-red:#ed3237;
$body-background:#f9f9f9;
$anchor-color:#737375;
$heading-background:#ebecec;
$filter-green:#009846;
$filter-text:#9e9e9e;
$text-grey:#8c8c8b;

//background 

$base-spritesheet:'../images/spritesheet.png';

//font
$base-font:'Conv_Corbel';